[Unit]
Description=Cryptomator Vault Encryption
After=TOSDaemon.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true

[Install]
WantedBy=tnas-system.target
